@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

body {
  padding: 0;
  margin: 0;
  background: rgba(243, 243, 243, 1);
}

button {
  padding: 1rem;
}

main {
  min-height: 100vh;
  max-width: 36rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
}

main h1 {
  padding: 1rem;
  text-align: center;
}

.code-container {
  padding: 1rem;
  background: black;
}

.code-editor {
  font-family: "Source Code Pro", monospace;
}

.code-editor .box {
  font-family: "Source Code Pro", monospace;
  background: gray;
  color: white;
  border: none;
}

.code-editor input:active,
.code-editor input:focus {
  border: none;
}

.answers {
  display: flex;
  font-family: monospace;
  gap: 1rem;
}

.answers button {
  padding: 0.5rem 1rem;
  font-family: "Source Code Pro", monospace;
  background: gray;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
}

.answers button:hover {
  background: white;
  color: gray;
}
